.login-modal-container{
    /* border: 3px solid lime; */
    /* box-shadow: 0 0 5px lightgray; */
    border-radius: 15px;
    color: white;
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-container{
    /* border: 3px solid blue; */
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, textarea{
    /* background-color: #aaa;
    height: 30px;
    border-radius: 5px; */
    width: 220px;
    height: 35px;
    background-color: black;
    border: 1px solid white;
    box-shadow: 0 0 3px lightgrey;
    color: #fff;
    margin: 5px auto;
}

.form-container > ul > li {
    color: red;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: bold;
}

#demo{
    margin: 10px 20px;
    cursor: pointer;
}

#admin{
    margin: 10px 20px;
    cursor: pointer;
}