@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&family=Merriweather:wght@400;700&family=Roboto+Mono:ital,wght@0,400;0,700;1,300&display=swap');

.spacecraft-form-container{
    /* border: 3px solid lime; */
    min-width: 700px;
    width: fit-content;
    margin: 0 auto;
}

.form{
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spacecraft-errors{
    color: red;
}

.first-info-container{
    /* border: 3px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-info-container > div {
    margin: 0 10px;
    /* border: 3px solid pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.load-capacity-container{
    /* border: 3px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spacecraft-height-container{
    /* border: 3px solid purple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spacecraft-diameter-container{
    /* border: 3px solid brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spacecraft-generators-container{
    /* border: 3px solid brown; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.form-header{
    font-size: 44px;
}

.width{
    width: 100%;
    margin: 5px;
    border-bottom: 1px solid gray;
}

.form-paragraph-font{
    font-family: 'Merriweather', serif;
    font-size: 12px;
    font-weight: lighter;
}

.size{
    font-size: 20px;
    text-shadow: 0 0 5px white;
}

