.rideshare-confirmation-header{
    color: #212529;
}

.flight-time-confirmation-container{
    /* border: 3px solid lime; */
    /* border-bottom: 2px solid gray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flight-time-confirmation-container > div{
    width: 70%;
    min-height: 120px;
    height: fit-content;
    max-height: fit-content;
    padding: 15px;
}

.rideshare-header-font{
    color: #212529;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 6px;
    text-transform: uppercase;
}

.rideshare-confirmation-content-font{
    color: #212529;
    font-family: 'Merriweather', serif;
    font-weight: lighter;
    font-size: 12px;
    margin: 10px 6px;
}

.planet-orbit-container{
    /* border: 3px solid brown; */
    border-bottom: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flight-origin-container{
    /* border: 3px solid green; */
    border-bottom: 2px solid gray;
}

.flight-destination-container{
    /* border: 3px solid blue; */
    border-bottom: 2px solid gray;
}

.flight-spacecraft-container{
    /* border: 3px solid purple; */
    border-bottom: 2px solid gray;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.flexed{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flexed-column{
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 15px;
}

.rideshare-subheader-font{
    color: #212529;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    /* margin: 10px 6px; */
    text-transform: uppercase;
}

.flight-pricing-container{
    /* border: 3px solid blue; */
    border-bottom: 2px solid gray;
}

.flight-travelclass-container{
    /* border: 3px solid pink; */
    border-bottom: 2px solid gray;
}

.rideshare-confirmation-buttons-container{
    /* border: 3px solid yellow; */
    width: 100%;
    height: 200px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}

.button-alternate2 {
    position: relative;
    display: inline-block;
    width: 130px;
    border: 2px solid rgb(255, 255, 255);
    background-color: black;
    cursor: pointer;
    text-align: center;
    padding: 15px 20px;
    margin-top: 10px;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 0;
}

.button-alternate2-error {
    position: relative;
    display: inline-block;
    width: 130px;
    border: 2px solid rgb(255, 255, 255);
    background-color: black;
    cursor: pointer;
    text-align: center;
    padding: 15px 20px;
    margin-top: 10px;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 0;
}

.button-alternate2:hover span{
    color: rgb(0, 0, 0);
    transition: color 0.6s ease-in-out;
}

.button-alternate2-error:hover span{
    color: rgb(255, 255, 255);
    transition: color 0.6s ease-in-out;
}

.button-alternate2 > i{
    color: rgb(255, 255, 255);
}

.button-alternate2:hover i{
    color: rgb(0, 0, 0);
    transition: color 0.6s ease-in-out;
}

.button-alternate2 .hover-effect-alternate2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    z-index: -1;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.button-alternate2:hover .hover-effect-alternate2{
    transform: translateY(0);
}

.button-alternate2-error .hover-effect-alternate2-error{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(241, 47, 47);
    color: rgb(255, 255, 255);
    z-index: -1;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.button-alternate2-error:hover .hover-effect-alternate2-error{
    transform: translateY(0);
}

.resizing{
    width: 80%;
    margin: 5px auto;
}