.spacecraft-gallery-container{
    /* border: 3px solid lime; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: fit-content;
}