.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navigation-container{
  /* border: 3px solid lime; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-container{
  /* border: 3px solid blue; */
  margin: 0 25px;
}

.profile-button-container{
  /* border: 3px solid palevioletred; */
  margin: 0 25px;
}