#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  height: 100vh;
  /* border: 3px solid lime; */
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* background-color: rgba(79, 23, 23, 0.7); */
}

#modal-content {
  /* border: 3px solid red; */
  border-radius: 15px;
  box-shadow: 0 0 10px lightgray;
  position: absolute;
  background-color:black;
  /* background-color: rgba(0, 0, 0, 0.1); */
  min-height: 200px;
  height: fit-content;
  min-width: 500px;
  width: fit-content;
}