.grid-container{
    /* border: 3px solid lime; */
    display: grid;
    grid-template-columns: repeat(3, 0.5fr) repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 800px;
    width: 100%;
}

#planet-image{
    grid-area: 1 / 1 / 5 / 4; 
    /* border: 3px solid red; */
}

#planet-content-container{
    grid-area: 1 / 4 / 4 / 6;
}

#planet-manage-buttons{
    grid-area: 4 / 4 / 5 / 6;
}