@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&family=Merriweather:wght@300;400;700&family=Roboto+Mono:ital,wght@0,400;0,700;1,300&display=swap');


.gallery-card-font{
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: lighter;
  text-transform: uppercase;
}

.gallery-card-font-2{
  font-family: 'Roboto Mono', monospace;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
}

.button-font{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}

body{
    color: white;
}

.section-a-container{
    /* border: 3px solid red; */
    /* background-image: url('../../assets/missiles-g985026ff1_1920.jpg'); */
    height: 100vh;
    width: 100%;
    min-width: 450px;
}

.spacecraft-background-1{
    background-image: url('../../assets/spacecraft-background-1.jpg');
}

.spacecraft-background-2{
    background-image: url('../../assets/spacecraft-background-2.jpg');
}

.spacecraft-background-3{
    background-image: url('../../assets/spacecraft-background-3.jpg');
}

.spacecraft-background-4{
    background-image: url('../../assets/spacecraft-background-6.jpg');
}

.spacecraft-background-5{
    background-image: url('https://as1.ftcdn.net/v2/jpg/02/75/83/96/1000_F_275839620_QtkM2u4Eu9N4eKcJJwlr2mk7CQSo3UOK.jpg');
}

.spaceport-background{
    /* background-image: url('../../assets/rocket-launch-ge07909d54_1920.jpg'); */
    background-image: url('../../assets/rocket-launch-g564b45938_1920.jpg');
}

.planet-background-1{
    background-image: url('../../assets/mercury-g08e7b2d02_1920.jpg');
}

.planet-background-2{
    background-image: url('../../assets/venus.jpg');
}

.planet-background-3{
    background-image: url('../../assets/earth-gef7361121_1920.jpg');
}

.planet-background-4{
    background-image: url('../../assets/mars-g0a36a1981_1920.jpg');
}

.planet-background-5{
    background-image: url('../../assets/jupiter-g40361f59d_1920.jpg');
}

.planet-background-6{
    background-image: url('../../assets/saturn-gd65cd9c3a_640.png');
}

.planet-background-7{
    background-image: url('../../assets/uranus-g8bb036f46_1920.jpg');
}

.planet-background-8{
    background-image: url('../../assets/neptune-gfb9730857_1920.jpg');
}

.planet-background-9{
    background-image: url('https://as1.ftcdn.net/v2/jpg/03/77/06/58/1000_F_377065808_1LIDKlKsJlBEB80g2Ws122o0vxobsS5k.jpg');
}

.landing-page-background{
    background-image: url('../../assets/satellite-ged5ef0855_1920.jpg');
}

.sizing{
    position: relative;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-content{
    /* border: 3px solid lime; */
    width: 500px;
    max-width: 600px;
    height: 300px;
    max-height: fit-content;
    position: absolute;
    bottom: 10%;
    left: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
}

.section-content h4 {
    /* border: 3px solid salmon; */
    text-shadow: 0 0 5px black;
    font-size: 26px;
    font-weight: 300;
    margin: 0;
    /* animation: textFade 0.6s ease-in-out; */
}

.section-content h2 {
    /* border: 3px solid blue; */
    text-shadow: 0 0 5px black;
    font-size: 48px;
    margin: 12px 0;
}

/* .section-content span {
    font-size: 20px;
    text-shadow: 0 0 5px black;
} */

.button {
    position: relative;
    display: inline-block;
    width: 130px;
    border: 2px solid white;
    cursor: pointer;
    text-align: center;
    padding: 15px 20px;
    margin-top: 10px;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 3;
}

.button:hover span{
    color: black;
    transition: color 0.6s ease-in-out;
}

.button:hover i{
    color: black;
    transition: color 0.6s ease-in-out;
}

.button .hover-effect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    z-index: -1;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    /* transition: transform 0.6s cubic-bezier(.11,.97,.97,0); */
}

.button:hover .hover-effect{
    transform: translateY(0);
}

@keyframes textFade{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }

    100%{
        opacity: 1;
        transform: translateY(0);

    }
}

@media(max-width: 600px){
    .section-content{
        /* border: 3px solid red; */
        bottom: 20px;
        left: 15px;
    }

    .section-content h4{
        font-size: 20px;
    }

    .section-content h2{
        font-size: 40px;
    }

    .button {
        width: 100px;
    }

    /* .button span{
        font-size: 12px;
    } */
}

.shadow{
    text-shadow: 0 0 1px black;
}